<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95581424221-ib8ij2llnmj8pb8fcfs7dfek0c798cag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95581424221-ib8ij2llnmj8pb8fcfs7dfek0c798cag</string>
	<key>API_KEY</key>
	<string>AIzaSyAjPUoJavsNRSxXKYdu-RIk4kPOjzzfLok</string>
	<key>GCM_SENDER_ID</key>
	<string>95581424221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appTaifaFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>app-taifa</string>
	<key>STORAGE_BUCKET</key>
	<string>app-taifa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95581424221:ios:7d89c0ba3483dca2af5bb4</string>
	<key>DATABASE_URL</key>
	<string>https://app-taifa-default-rtdb.firebaseio.com</string>
</dict>
</plist>